:root {
  --Strongcyan: hsl(172, 67%, 45%);

--Verydarkcyan: hsl(183, 100%, 15%);
--Darkgrayishcyan: hsl(186, 14%, 43%);
--Grayishcyan: hsl(184, 14%, 56%);
--Lightgrayishcyan: hsl(185, 41%, 84%);
--Verylightgrayishcyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
}

#root {
  width: 100vw;
  min-height: 100vh;
}
html{ 
  font-size: 24px;
}



body {
  margin: 0;
  font-family: "Space Mono", monospace;
  background-color: var(--Lightgrayishcyan);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

p {
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

* :first-child {
  margin-top: 0;
}

* :last-child {
  margin-bottom: 0;
}

.title {
  color: var(--Darkgrayishcyan);
  letter-spacing: .3em;
  text-align: center;
  font-size: 1.2rem;
}


.btn {
  padding: .6em 5%;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center
}




@media (min-width: 786px) {
  body {

  align-items: center;
  justify-content: center;
  }
  
}